node_modules
public/hot
public/storage
public/static/img/rankings/Accessory
public/static/img/rankings/Cap
public/static/img/rankings/Cape
public/static/img/rankings/Coat
public/static/img/rankings/Face
public/static/img/rankings/Glove
public/static/img/rankings/Hair
public/static/img/rankings/Longcoat
public/static/img/rankings/Pants
public/static/img/rankings/Shield
public/static/img/rankings/Shoes
public/static/img/rankings/Skin
public/static/img/rankings/Weapon
public/static/img/rankings/Character
storage/*.key
vendor
composer.lock
.idea
.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
