/* 09. Breadcrumbs
   ========================================================================== */

.breadcrumb-2 {
	background-color: transparent;
	padding-left: 0;
}

.breadcrumb-3 {
	border: solid 1px #ddd;
	background-color: transparent;
}

.breadcrumb i.fa { margin-right: 6px; }
